# Ignore data files
data/**
# Include the final dataset
!data/predicted_humans.zip

# Ignore samples files
samples/**
# Include the final model weights and config
!samples/generator_config.json
!samples/netD_epoch_2384.pth
!samples/netG_epoch_2384.pth
!samples/out.log

# Ignore pycaches
**/__pycache__/**
