# Jupyter Notebook execution
notebook

# Pytorch dependencies
torch
torchvision
lmdb

# Array processing
numpy
pandas

# Display
matplotlib
torchviz

# Image processing
scikit-learn
scikit-image
seaborn
